{% extends 'bookstoreapp/layout/layout.html' %}

{% block title %}Book List{% endblock %}
{% block content %}

{% comment %}
    <h1>{{ category }}</h1>

    {% if book_list and  category %}
        <h3>Books List: </h3>
    <ul>
        {% for book in book_list %}

            <li>{{ book.name }} -- {{ book.author }}- {{ book.editor }} </li>
        {% endfor %}
    </ul>
    {% elif category %}
        <p>No books available for this category.</p>
    {% else %}
        <h3>Wrong category selection</h3>
    {% endif %}
{% endcomment %}

  <div class="well well-sm">
  <h2>{{ category }}</h2>
  {% if book_list and  category %}

  <p class="text-center">Table 1: Books for {{ category }}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Book Name</th>
        <th>Author</th>
        <th>Editor</th>
      </tr>
    </thead>
    <tbody>
    {% for book in book_list %}
       <tr>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.editor }}</td>
       </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
  {% elif category %}
  <p>No books available for this category.</p>
  {% else %}
 <h3>Wrong category selection</h3>
{% endif %}

{% endblock %}
